$main-color: #0099d2; //фирменный синий

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
} // placeholder mixin

/********************************************
BEGIN переопределение стилей браузера и uikit
********************************************/
* {
  box-sizing: border-box;
}
a {
  &:hover {
    text-decoration: none;
  }
}
ul {
  list-style: none;
}

//перепишем стили uikit, чтобы не растягивалась картинка внутри .uk-grid-match:
.uk-grid-match>*>img {
  width: auto;
}

//перепишем цвет пунктов меню uikit
.uk-navbar-nav>li>a,
.uk-navbar-nav>li>a:hover,
.uk-navbar-nav>li.uk-active>a {
  color: white;
  height: 50px;
  line-height: 50px;
}

//активный пункт меню:
.uk-navbar-nav>li.uk-active>a {
  background: none;
  font-weight: bold;
}

//hover пункта меню
.uk-navbar-nav>li.uk-open>a,
.uk-navbar-nav>li:hover>a,
.uk-navbar-nav>li>a:focus {
  color: white;
  background: lighten($main-color, 10);
}

//убераем подсветку при hover для разделитителей пунктов меню | :
.uk-navbar-nav>li:hover>a.uk-padding-remove {
  background: $main-color;
}

//конпка вызова sidebar-menu
a.uk-navbar-toggle {
  position: fixed;
  border: 1px solid #ccc;
  top: 10px;
  left: 10px;
  z-index: 100;
  height: 30px;
  padding: 0 10px;
  background: rgb(255,255,255);
}

img.avatar {
  height: 50px;
  width: 50px;
}
/********************************************
END переопределение стилей браузера и uikit
********************************************/

/********************************************
BEGIN общие стили
********************************************/

//фирменный синий
.main-blue {
  color: #0099d2;
}

//серый
.gray {
  color: #777;
}

.background-gray {
  background: #fafaf8;
}

//класс для центровки при мобильном экране
.sm-center {
  @media screen and (max-width: 768px) {
    margin: 0 auto;
    display: block;
  }
}

//button общий стиль
.btn {
  cursor: pointer;
  background: white;
  border: 2px solid $main-color;
  display: inline-block;
  color: $main-color;
  font-size: 16px;
  padding: 10px 15px;
  transition: .5s;
  text-align: center;
  &:hover {
    background: $main-color;
    color: white;
  }
  &:active {
    background: lighten($main-color, 10);
  }
}

//Контейнер формы поиска
.search-bar-container {
  padding: 20px;
  border-bottom: 2px #ccc solid;
  //Главная форма поиска
  .search-form {
    display: flex;
    flex-flow: row wrap;
    font-size: 16px;
    @media screen and (max-width: 768px) {
      flex-flow: column wrap;
    }
    label {
      flex: 0 0 auto;
      align-self: center;
    }
    input[type=text] {
      flex: 1 1 auto;
      margin: 0 10px;
      font-size: 16px;
      padding: 0 10px;
      @media screen and (max-width: 768px) {
        margin: 10px 0;
        padding: 10px;
      }
    }
    input[type=submit] {
      flex: 0 0 200px;
      @media screen and (max-width: 768px) {
        flex-basis: auto;
      }
    }
  }
}

//Если Контейнер формы поиска на главной странице (т.е. после блока .promotion), то:
.promotion + .search-bar-container {
  padding: 55px 0 25px;
  background: #eeeeee;
  box-shadow: 0px -10px 30px -10px rgba(0,0,0,0.3);
}

//Информация о продавце
.seller-info {
  display: flex;
  padding: 0;
  margin: 10px 0;
  line-height: 1.2;
  .seller-name {
    font-weight: bold;
    color: #666666;
  }
  img.avatar {
    margin-right: 10px;
  }
}
/********************************************
END общие стили
********************************************/
/********************************************
BEGIN header
********************************************/
header {
  background: $main-color;

  .avatar {
    width: 50px;
    margin: 0;
  }
}
/********************************************
END header
********************************************/
/********************************************
BEGIN footer
********************************************/
footer {
  background: #333;
  color: white;
  padding: 30px 0;

  h2 {
    color: white;
  }
  li {
    list-style: none;
    a {
      color: white;
      &:hover {
        color: white;
        text-decoration: underline;
      }
    }
  }
  .copyright-note {
    margin: 30px 0 0;
  }
}
/********************************************
END footer
********************************************/

/********************************************
BEGIN modal windows
********************************************/
//уменьшим размеры стандартоного модального окна uikit
.uk-modal-dialog {
  width: 500px;
  padding: 30px;
  font-size: 16px;
  input:not([type="submit"]) {
    font-size: 20px;
    height: auto;
    padding: 10px;
  }
  .btn {
    color: $main-color;
    &:hover {
      color: white;
    }
  }
  .flex-row {
    display: flex;
    & > * {
      flex: 1 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .uk-modal-footer {
    background: $main-color;
    color: white;
    padding: 20px 30px 30px 30px;
    margin: 20px -30px -30px -30px;
    @include placeholder { // include placeholder mixin
      color: white;
    }
    input:not([type="submit"]) {
      border-color: white;
      color: white;
      background: $main-color;
    }
    .btn {
      border-color: white;
      background: $main-color;
      color: white;
      &:hover {
        color: $main-color;
        background: white;
      }
    }
  }
}
/********************************************
END modal windows
********************************************/

//BEGIN filter/sorting buttons
.filter-buttons,
.sorting-buttons {
  ul {
    margin: 0;
  }
}
//END filter/sorting buttons

//BEGIN items-list
.items-list {
  margin-top: 20px;
  margin-bottom: 20px;
}
.item {
  border: 1px solid #ccc;
  display: flex;
  flex-flow: column;
  line-height: 1.2;
  .photo-and-price {
    position: relative;
    img {
      width: 100%;
    }
    .price {
      position: absolute;
      bottom: 5px;
      left: -1px;
      background: $main-color;
      color: white;
      font-size: 1.2em;
      padding: 5px 10px;

      //прозрачный треугольник после прайса
      &::after {
        content: "";
        position: absolute;
        margin-top: -15px;
        margin-right: -10px;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border-top: 15px solid $main-color;
        border-right: 10px solid transparent;
        border-bottom: 15px solid $main-color;
      }
    }
  }
  .item-name {
    font-weight: bold;
    padding: 10px 10px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    a {
      color: #333;
    }
  }
  .seller-info { //стили seller-info см. общие стили
    padding: 5px 10px 10px;
    margin: 0;
  }
}
//END items-list


/********************************************
BEGIN page index
********************************************/

//BEGIN girl and promotion text
.promotion {
  position: relative;
  padding-bottom: 35px;
  .promo-girl {
    position: absolute;
    bottom: -50px;
    @media screen and (max-width: 1220px) {
      width: 350px;
      bottom: -39px;
    }
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .promo-text {
    h2 {
      font-size: 28px;
      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
    }

    .btn {
      text-align: center;
      @media screen and (max-width: 1220px) {
        display: block;
      }

    }
  }
}
//BEGIN girl and promotion text


/********************************************
END page index
********************************************/

/********************************************
BEGIN single item page
********************************************/


.single-item-info {
  padding-top: 20px;
  padding-bottom: 20px;

  .important-notes {
    .uk-flex {
      & > *:first-child {
        flex: 0 1 100px;
      }
      & > *:nth-child(2) {
        flex: 1 1;
      }
      p {
        margin: 5px 0;
      }
    }
  }

  ul.uk-slideshow {
    li {
      height: 300px;
      background: 50% 50%/cover no-repeat;
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  form {
    span {
      font-size: 20px;
    }
    select {
      display: inline-block;
      margin: 0 15px;
    }
    p i {
      text-indent: 25px;
    }
    .btn {
      margin: 0 15px;
    }
  }
}


//BEGIN calendar

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  background: #F8F7F6;
  color: black;
  border: 1px solid #c5c5c5;
  font-weight: normal;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid darken($main-color,10);
  background: #fff;
  color: $main-color;
}

/* begin: jQuery UI Datepicker moving pixels fix */
table.ui-datepicker-calendar {border-collapse: separate;}
.ui-datepicker-calendar td {border: 1px solid transparent;}
/* end: jQuery UI Datepicker moving pixels fix */

/* begin: jQuery UI Datepicker emphasis on selected dates */
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
  background:$main-color none;
  color: white;
}
/* end: jQuery UI Datepicker emphasis on selected dates */
/* begin: jQuery UI Datepicker hide datepicker helper */
#ui-datepicker-div {display:none;}
/* end: jQuery UI Datepicker hide datepicker helper */

.ui-corner-all {
  border-radius: 0;
}
//END calendar


/********************************************
END single item page
********************************************/
/********************************************
BEGIN add item page
********************************************/
.add-item {
  padding-top: 20px;
  padding-bottom: 20px;

  .uk-width-medium-2-10 {
    display: flex;
    align-items: center;
  }

  .uk-grid .uk-grid .uk-width-medium-2-10 {
    justify-content: center;
  }

  label {
    margin: 8px 0;
  }

  input, select, textarea {
    width: 100%;
    font-size: 16px;
    padding: 8px;
    background: white;
    margin: 10px 0;
    resize: none;
  }
}

/********************************************
END add item page
********************************************/
/********************************************
BEGIN balance
********************************************/
.balance-page {
  padding-top: 30px;
  padding-bottom: 20px;

  [class*=uk-width] {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  ul.transactions {
    padding-left: 0;
    li {
      display: flex;
      justify-content: space-between;
      padding: 0 5px;
      &:nth-child(odd) {
        background: #f3f3f3;
      }
      &.income {
        list-style-image: url("../img/arrow-income.png");
      }
      &.outcome {
        list-style-image: url("../img/arrow-outcome.png");
      }
      span {
        color: #777;
      }
    }
  }

  form {
    line-height: 2;
    input.sum {
      max-width: 100px;
    }
    .big-text {
      font-size: 20px;
    }
    .btn {
      padding: 0 20px 0 15px;
    }
  }

  .text-big {
    font-size: 35px;
  }
}
/********************************************
END balance
********************************************/
/********************************************
BEGIN my stuff
********************************************/
.my-stuff-page {
  padding-top: 20px;
  &>h2 {
    background: lighten($main-color, 15);
    color: white;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  a.uk-text-large {
    left: 120px;
    top: 110px;
    text-align: center;
    transition: 1s all;
    @media screen and (min-width: 760px) {
      position: absolute;
    }
    .plus-sign {
      width: 100px;
      height: 100px;
      margin: auto;
      background: 0 0/cover url("../img/icon-add.png");
      transition: 1s all;
    }
    &:hover .plus-sign {
      background-image: url("../img/icon-add-inverse.png");
      transition: 1s all;
    }
  }
  a.uk-text-large.bottom-side {
    position: static;
    display: block;
    width: 300px;
    margin: auto;
    .plus-sign {
      width: 50px;
      height: 50px;
    }
  }
  .banner {
    background: 0 0/cover url("../img/background_luggage.jpg");
    padding: 30px 0;
    position: relative;
    .text-container {
      max-width: 400px;
      @media screen and (min-width: 760px) {
        margin-left: 45%;
      }
    }
  }
  .ads {
    margin-top: 15px;
    background: #f3f3f3;
    padding-top: 15px;
    padding-bottom: 15px;
    div.img {
      height: 180px;
      background: 50% 50%/cover;
    }
    .btn {
      padding: 7px 10px;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
/********************************************
END my stuff
********************************************/
/********************************************
BEGIN messages-page
********************************************/
.messages-page {
  padding-top: 20px;
  padding-bottom: 30px;

  .avatar {
    border-radius: 50%;
  }

  .active {
    background: lighten($main-color, 50);
  }

  .messages {
    img {
      margin: 10px 0;
    }
    .message {
      position: relative;
      &::before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 0;
        bottom: -17.5px;
        border: 10px solid;
        border-color: #f5f5f5 transparent transparent #f5f5f5;
      }
      &.user {
        background: lighten($main-color, 50);
        &:before {
          right: 0;
          left: auto;
          border-color: lighten($main-color, 50) lighten($main-color, 50) transparent transparent;
        }
      }

      &.new {
        border: 1px solid $main-color;
        &:after {
          content: ' ';
          position: absolute;
          width: 0;
          height: 0;
          left: -1px;
          bottom: -20px;
          border: 10px solid;
          border-color: #0099d2 transparent transparent #0099d2;
        }
        &:before {
          z-index: 20;
        }
      }
    }
  }
}
/********************************************
END messages-page
********************************************/
/********************************************
BEGIN settings-page
********************************************/
.settings-page {
  padding-bottom: 30px;

  [class*=uk-width-] {
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  input, select, textarea {
    max-width: 400px;
    font-size: 16px;
    padding: 8px;
    background: white;
    margin: 10px 0;
    resize: none;
  }
}
/********************************************
END settings-page
********************************************/
/********************************************
BEGIN help-page
********************************************/
.help-page {
  padding-top: 30px;
  padding-bottom: 30px;

  img {
    max-width: 300px;
    margin-bottom: 5px;
    &.float-left {
      float: left;
      margin-right: 7px;
    }
    &.float-right {
      float: right;
      margin-left: 7px;
    }
  }
}

/********************************************
END help-page
********************************************/